body
{
  background: #111111;
  color: #555555;
  font-family: monospace;
}

a:hover
{
  background: #555555;
  color: #111111;
}
a,h1
{
  color: #555555;
  font-family: serif;
  text-decoration: none;
}

.alinear
{
  margin-right: 10pt;
}
